@charset "UTF-8";

body{
    background-color: rgb(129, 129, 218);
}

h1{
    text-align: center;
    color: white;
    font-size: 2.5em;
}

section{
    background-color: white;
    max-width: 500px;
    min-width: 250px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}