@charset "UTF-8";

body{
    background-color: rgb(154, 154, 233);
}

h1{
    text-align: center;
    color: white;
}

section{
    max-width: 600px;
    min-width: 250px;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

footer{
    color: white;
    text-align: center;
    padding: 30px;
}
